<%- include ('../partials/header') %>

<%- include ('../partials/nav') %>


<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="card-deck">
            <% applicationData.forEach((form)=>{  %>
                <div class="card text-white bg-dark mb-3"" style="width: 18rem;">
                    <div class="card-body ">
                        <h5 class="card-title">Application Data - <%= form.id %></h5>       
                        <p class="card-text">ΕΠΙΘΕΤΟ : <%= form.lastName %></p>
                        <p class="card-text">ΟΝΟΜΑ : <%= form.firstName %></p>
                        <p class="card-text">ΑΡ.ΤΑΥΤΟΤΗΤΑΣ : <%= form.idCardNumber %></p>
                        <p class="card-text">ΠΟΛΗ : <%= form.city %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

 <%- include ('../partials/footer') %>